//Esquema de cores
$mainBackGroundColor: #040714;

// Cor do texto
$mainTextColor: rgb(192, 192, 192);
$secondTextColor: #f9f9f9;

//Esquema de cores botão
$mainBackgroundColorButton: #6421ff;
$secondBackgroundColorButton: #0063e5;
$DarkBackgroundColorButton: #000