//Importação de arquivos
@use 'var';
@use "sass:color";
@use 'hero';
@use 'shows';
@use 'plans';
@use 'available-devices';
@use 'faq';
@use 'footer';
@use 'header';

@font-face{
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face{
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}



//Reset de página
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none;
}

//Definição do padrão do line height sempre 10px maior que o font-size
@mixin text($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: var.$mainTextColor;
}

//Variações do tipo de texto
.text--big{
    @include text(18px);

    @media (max-width: 768px){
        @include text(15px);
    }
}

.text{
    @include text(16px);

    @media (max-width: 768px){
        @include text(14px)
    }
}

.text--small{
    @include text(12px);

    @media (max-width: 768px){
        @include text(11px)
    }
}


//Criação de Mixin para diferentes tamanhos de titulos
@mixin title($fontSize: 40px){
    @include text($fontSize);
    color: var.$secondTextColor;
}


//Variações dos tipos de titulos

.title--big{
    @include title(44px);

    @media (max-width: 768px){
        @include title(26px);
    }
}

.title{
    @include title;

    @media (max-width: 768px){
        @include title(24px);
    }
}

.title--small{
    @include title(28px);

    @media (max-width: 768px){
        @include title(22px);
    }
}

.button{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 60px;
        font-size: 18px;
        color: var.$mainTextColor;
        background-color: var.$mainBackgroundColorButton;
        text-transform: uppercase;
        border-radius: 4px;
        text-decoration: none;
        padding: 8px 14px;
        letter-spacing: 1px;
        border: 1px solid var.$mainBackGroundColor;

        &:hover{
            background-color: color.adjust(var.$mainBackgroundColorButton, $lightness: 3%);
        }

        &--secondary{
            background: var.$secondBackgroundColorButton;
            border-color: var.$mainTextColor;

            &:hover{
                background-color: color.adjust(var.$secondBackgroundColorButton, $lightness: 3%);
            }
        }

       
        &--dark{
            // background-color: rgba(var.$DarkBackgroundColorButton, 0.9);
            background-color: rgba(0, 0, 0, 0.2);

            &:hover{
                background-color: var.$secondTextColor;
                color: var.$mainBackGroundColor;
            }
        }
}



body{
    background-color: var.$mainBackGroundColor;
    font-family: Avenir, sans-serif;
}

//Link "assinar disney+" 
.link-text{
    @include text(18px);
    color: var.$secondTextColor;
    text-decoration: underline;
}

.image-text-section{
    display: grid;
    padding: 5.6vw;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media (max-width: 768px){
        display: block;
    }

    img{
        max-width: 100%;
    }

    &__text_container {
        padding: 0 2vw;

        h2{
            margin-bottom: 24px;
        }
    }

    &--image-full-width{
        display: block;
        position: relative;

        img {
            width: 100%;
        }

        &__text_container {
            position: absolute;
            top: 0;
            height: 100%;
            left: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: calc(50% - 5.6vw);
            
            @media (max-width: 768px){
                position: relative;
                left: 0;
                width: 100%;
            }

        }
    }

}